body {
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jpFChf, .hbwWrA, .kgQYzZ, .bpYPQR, .bLLLNb, .iOUbnV {
    background-color: #1476A8 !important;
}

p, div, h1, h2, a, .bEYLqs, .BxBBR, .kJiGku {
    color: white !important;
}

.jibsak {
    background-color: #1476A8 !important;
}

.iMPDCj {
    background-color: rgb(1, 0, 17) !important;
}

.gAuMKL, .iwAXSa {
    color: #1476A8 !important;
}

.dZHHYX, .kJiGku, .dZHHYK {
    border: 2px solid #1476A8 !important;
}

.iWUVSM, .kryUPa, .bQAUkm, .buvHoe svg, .hjAmzW svg, .fEXwNC, .jEkyPd, .kJEAWF svg {
    fill: #1476A8 !important;
}

.sc-bdfBwQ iWUVSM {
    fill: white !important;
}

/* nav */
.edgUNe, .itdXCh, .fiwcoc, .fWHLrL, .rHcEY {
    background-color: rgb(1, 0, 17) !important;
}

::-webkit-scrollbar-thumb {
    background: #1476A8 !important;
}

/* Menu selection */
.cHStBG {
    background-color: rgb(1, 40, 72) !important;

}

.bWwYYN {
    color: #1476A7 !important;
}


/* Text import it */
.gdfqHX {
    color: #1476A7 !important;
}

/* Text import it */
.hklNVz {
    background-color: #1476A7 !important;
}

/* Button settings */
.GFJHf {
    color: #1476A7 !important;
}

/* Text select token */
.gAeUKN {
    color: white !important;
}

/* Text minutes settings */
.kQbLAY>.sc-gsTCUz {
    color: #1476A7 !important;
}

/* arrow */
.eMJNho, .jOxIwv {
    fill: #1476A7 !important;
    color: #1476A7 !important;
}

.fFoHYc, .iDwwjE {
    background-color: transparent !important;
}

.buvHoe {
    box-shadow: #1476A7 4px 0px 0px inset !important;
}

.iDwwjE {
    box-shadow: #6fbfe7 4px 0px 0px inset !important;

}

.jtQUZc {
    color: #1476A7 !important;
    background: transparent !important;
}

.AXFeE {
    color: #1476A7 !important;
}

/* Settings text */
.braViE, .ftmRwh, .cfujwF {
    color: #1476A7 !important;
}

/* Liquidity */
.braViE, .ftmRwh, .cfujwF {
    color: #1476A7 !important;
}

/* Text title */
.fRbtRm {
    color: #1476A7 !important;
}

/*
.hlyvfC {
    background-color: #1476A7 !important;
}
*/

.hjAmzW:hover {
    color: transparent !important;
    background-color: #CDCDCD !important;
    ;

}

.buvHoe:hover {
    color: transparent !important;
    background-color: #CDCDCD !important;
    ;

}

.fFoHYc:hover {
    color: transparent !important;
    background-color: #CDCDCD !important;
    ;

}

.iDwwjE:hover {
    color: transparent !important;
    background-color: #CDCDCD !important;
    ;

}

@media screen and (min-width: 968px) {
    .bqbBSh {
        width: 50px !important;
        background-color: rgb(1, 0, 17) !important;
    }
}

.bkhwBO {
    color: #1476A8 !important;
}

.kglXOA {
    fill: #1476A8 !important;
    color: #1476A8 !important;

}

/*
.iWUVSM {
    fill: rgb(255 255 255) !important
}*/

.bEYLqs {
    background-color: #1476A8 !important;
}

.QBkJP {
    color: #1476A8 !important;
}

.fpxrUb {
    background-color: transparent !important;
}

.ceOxAO {
    color: #1476A8 !important;
}

/* buttons your wallet */
.jHoOvV {
    fill: #1476A8 !important;
}

/* logout your wallet */
.kJiGku {
    background-color: #1476A8 !important;
}

/* text your wallet */
.gSqwzJ, .latHDs {
    color: #1476A8 !important;
}

.fwjcqd {
    background-color: transparent !important;
}

/*  Learn how to connect (Connect to a wallet) */
.bnKPcn {
    color: #1476A8 !important;
}

/* Text select token */
.ejJoEn>.sc-gsTCUz.gAeUKN {
    color: #1476A8 !important;
}

/* Text select token */
.cCSKON>.gAeUKN, .cCSKON>.EaLGY {
    color: #1476A8 !important;

}

.ciJQnX {
    color: #90A2FA !important;
}

.gzCEMM {
    background-color: transparent !important;
}